:root {
  --main-color: #262626;
  --input-color: #595959;
}

body {
  margin: 0;
  font-family: sans-serif;
}
.main-container {
  padding: 0 16px 16px;
}
.errorValidate {
  color: #f5222d;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}
